.main {
  background-image: url(../../../../../public/images/logo.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
