<div class="px-auto py-9 bg-black h-screen">
  <div class="p-4 bg-black border-gray-200 rounded-lg dark:border-gray-700">
    <div class="flex flex-wrap items-center bg-black">
      <div class="md:w-3/5 text-center">
        <img src="/images/logo.jpg" class="mx-auto md:w-4/6" alt="logoX" />
      </div>
      <div class="flex flex-col w-fit px-1 mt-6 bg-black">
        <h1 class="text-6xl font-serif font-bold my-5 text-white">
          Happening now
        </h1>
        <h4 class="text-4xl font-bold my-4 text-white">Join today.</h4>
        <button
          class="flex justify-between px-3 items-center md:w-3/5 my-2 bg-white font-semibold rounded-full py-1 text-black"
        >
          <span class="size-6 bg-fuchsia-700 text-white rounded-full">k</span>
          <span class="flex flex-col text-sm items-start">
            Sign in as user
            <span class="text-xs text-gray-400">user233QGmail.com</span>
          </span>
          <img
            src="/images/kisspng-google-icon-1713874997698.webp"
            class="size-5"
            alt="gooogle logo"
          />
        </button>
        <button
          class="md:w-3/5 bg-white font-semibold rounded-full py-2 text-black"
        >
          Sgin up with Apple
        </button>
        <div
          class="flex max-sm:justify-between mx-3 text-gray-200 items-center"
        >
          <hr class="max-sm:w-[40%] md:w-[20%] my-2" />
          <span class="text-white px-2 my-2">or</span>
          <hr class="max-sm:w-[40%] md:w-[20%] my-2" />
        </div>

        <button
          data-modal-target="authentication-modal"
          data-modal-toggle="authentication-modal"
          class="text-center md:w-3/5 px-3 items-center my-2 text-white font-semibold bg-[rgb(29,155,240)] rounded-full py-3"
        >
          Create an acount
        </button>
        <p class="text-xs text-gray-300 mx-2 md:w-2/3">
          By signing up, you agree to the Terms of Service and Privacy Policy,
          including Cookie Use.
        </p>

        <p class="mt-10 text-white font-bold mx-2">Already have an account?</p>
        <button
          data-modal-target="authentication-modal-1"
          data-modal-toggle="authentication-modal-1"
          class="block text-center md:w-3/5 bg-black hover:bg-slate-900 items-center my-3 border-[0.3px] border-slate-200 font-semibold text-[rgb(29,155,240)] rounded-full py-2"
        >
          sign in
        </button>
      </div>
    </div>
    <div class="flex mx-auto items-center justify-center my-6">
      <span class="text-xs mx-4 text-slate-500">About</span>
      <span class="text-xs mx-4 text-slate-500">Download the X app</span>
      <span class="text-xs mx-4 text-slate-500">Help Center</span>
      <span class="text-xs mx-4 text-slate-500">Terms of Service</span>
      <span class="text-xs mx-4 text-slate-500">Privacy Policy</span>
      <span class="text-xs mx-4 text-slate-500">Cookie Policy</span>
      <span class="text-xs mx-4 text-slate-500">Ads info</span>
      <span class="text-xs mx-4 text-slate-500">Blog</span>
      <span class="text-xs mx-4 text-slate-500">Careers</span>
      <span class="text-xs mx-4 text-slate-500">Brand Resources</span>
      <span class="text-xs mx-4 text-slate-500">Advertising</span>
      <span class="text-xs mx-4 text-slate-500">Marketing</span>
      <span class="text-xs mx-4 text-slate-500">X for Business</span>
      <span class="text-xs mx-4 text-slate-500">Developers</span>
      <span class="text-xs mx-4 text-slate-500">Directory</span>
      <span class="text-xs mx-4 text-slate-500">Settings</span>
    </div>
    <div class="text-center text-slate-500">© 2025 X Corp.</div>
  </div>
</div>
<app-register></app-register>
<app-login></app-login>

<!-- Main modal -->
